# CODEOWNERS
# Each line defines a file pattern and the owner(s) responsible for reviewing changes.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @cx-anand-nandeshwar
